#workspace-sidebar {
  display: flex;
  flex-direction: column;

  background: #3F0E40;

  position: fixed;
  top: 0;
  left: 0;

  width: 220px;
  height: 100%;
}

#workspace-sidebar-nav {
  display: flex;
  flex-direction: column;

  color: white;

  padding: 15px;
  box-sizing: border-box;
}

#workspace-sidebar-nav:hover {
  background: rgb(54, 0, 54) ;
  cursor: pointer;
  transition: 0.15s;
}

#workspace-sidebar-nav h2{
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 6px;
}

#workspace-sidebar-nav h6{
  font-size: 15px;
  padding-bottom: 4px; 
  opacity: 0.8;
}

#channels {
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  justify-content: space-between; /*NOTE: PLACE THINGS AT OPPOSITE ENDS*/
  align-items: center;

  font-weight: bold;
  transition: 0.3s;

  padding-top: 20px;
  padding-left: 14px;
  padding-right: 15px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.sidebar-header:hover {
  color: white;
}

.sidebar-header-link, .sidebar-header-button, .sidebar-action {
  color: rgb(236, 236, 236);
  opacity: 0.9;
  
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;

  transition: 0.1s;
}

.sidebar-header-button {
  border: 2px rgb(246, 236, 248) solid;
  border-radius: 65%;

  padding-right: 2px;
  padding-left: 2px;
  box-sizing: border-box;

  text-align: center;
  line-height: 12px;
}

#cross {
  line-height: 14x;
  text-align: center;
  vertical-align: middle;

  position: relative;
  top: -0.4px;
  left: -0.1px;

}

.sidebar-header-link {
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;

  width: 80%;
}

.sidebar-action {
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: normal;

  width: 80%;
}

.sidebar-header-link:hover, .sidebar-header-button:hover, .sidebar-action:hover {
  color: white;
  border-color: white;
  opacity: 1;
  cursor: pointer;
  transition: 0.15s;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  color: white;
  opacity: 0.65;
  text-decoration: none;

  font-size: 15px;
  line-height: 26px;
  padding-bottom: 2px;
  vertical-align: middle;

  padding-left: 15px;
  box-sizing: border-box;
}

.sidebar-item:hover {
  background: rgb(34, 0, 34);
  cursor: pointer;
  transition: 0.15s;
}

.sidebar-item.selected {
  background: #1164A3;
  opacity: 1;
}

.sidebar-item.selected:hover {
  background: #1164A3;
}

.sidebar-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-top: 20px;
  padding-left: 14px;
  padding-right: 15px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.sidebar-symbol {
  color: rgb(246, 236, 248);
  opacity: 0.5;
  font-weight: bold;
  margin-right: 10px; 

  line-height: 14px;
  vertical-align: middle;
}

