.workspace-create-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 70px;
  border-bottom: 1px solid lightgray;
}

.workspace-create-nav .logo {
  padding: 20px;
}

.workspace-create-form {
  display: flex;
  flex-direction: column;
}

.workspace-create-form {
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -200px;

  display: flex;
  flex-direction: column;

  width: 420px;
}

.workspace-create-form h1 {
  font-size: 30px;
  font-weight: bold;
  
  padding-bottom: 30px;
}

.workspace-create-form h6{
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 18px;
}

.workspace-create-form input {
  width: 402px;
  height: 30px;
  margin-bottom: 15px;

  border-radius: 5px;
  border: 1px solid black;

  padding: 8px;
  font-size: 18px;
}

.workspace-create-form {
  button, input[type=submit] {
    width: 420px;
    height: 50px;

    background: #007a5a;
    border: none;
    border-radius: 5px;

    color: white;
    font-weight: bold;
    font-size: 20px;

    transition: 0.15s;
  }

  button:hover, input[type=submit]:hover {
    cursor: pointer;
    background: #008f69;
    box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
  }

  button:disabled, input[type=submit]:disabled {
    cursor: default;
    background: grey;
  
    box-shadow: none;
  }
}

.workspace-form-error {
  width: 100%;
  text-align: right;

  margin-top: 5px;

  font-size: 15px;
  line-height: 17px;
  color: orange;
  font-weight: bold;
}