#workspace {
  width: 100vw;
  height: 100vh;
}

#workspace-sidebar {
  background: rgb(49, 0, 49);
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;

  padding: 15px;
  padding-top: 10px;
  box-sizing: border-box;
}

#channel-chat {
  width: 100vw - 220px;
  height: 100vh;
}