#workspace-sidebar {
  display: flex;
  flex-direction: column;

  background: #3F0E40;

  width: 260px;
  height: 100%;
}

#workspace-sidebar-nav {
  display: flex;
  flex-direction: column;

  color: white;
  height: auto;
  box-sizing: border-box;

  padding: 12px 16px;
  margin-bottom: 10px;

  border-top: 1px solid rgb(82,38,83);
  border-bottom: 1px solid rgb(82,38,83);

  box-sizing: border-box;

  h2 {
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
    font-weight: 900;
  }

  h6 {
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    opacity: 0.6;
  }

  .fa-chevron-down {
    font-size: 8px;
    line-height: 8px;
    vertical-align: middle;
  
    padding-left: 4px;
    padding-bottom: 6px;
  }
}

#workspace-sidebar-nav:hover {
  background: #350D36;
  cursor: pointer;
  transition: 0.15s;
  
  color: white;
  opacity: 1;
}

#channels {
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;

  height: 28px;

  transition: 0.3s;

  padding-left: 8px;
  padding-right: 15px;

  margin-top: 10px;
  box-sizing: border-box;

  .sidebar-header-link, .sidebar-header-button, .sidebar-action, .sidebar-header-chevron {
    color: rgb(236, 236, 236);
    opacity: 0.9;
    
    font-size: 14px;
    text-decoration: none;
  
    transition: 0.1s;
  } 
  
  .sidebar-header-button, .sidebar-header-chevron{
    display: none;  // later overridden when hovered
    flex-direction: center;
    justify-content: center;
    align-items: center;
  
    height: 28px;
    width: 28px;
    border-radius: 5px;
    
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;

    padding-bottom: 2px;
    box-sizing: border-box;
  }

  .sidebar-header-chevron {
    display: flex;
    font-size: 15px;
    padding: 0;
  }

  .sidebar-header-button:hover, .sidebar-header-chevron:hover {
    transition: 0.3s;
    background: rgb(82,38,83);

    color: white;
    border-color: white;
    opacity: 1;
    cursor: pointer;
  }
  
  .sidebar-header-link {
    flex: 1;

    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;

    padding-left: 3px;
  
  }
}

.sidebar-header:hover {
  transition: 0.3s;
  color: white;

  .sidebar-header-button {
    display: flex;
  }
}

.sidebar-action {
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: normal;

  width: 80%;
}

.sidebar-header-link.hoverable:hover, .sidebar-action:hover {
  color: white;
  border-color: white;
  opacity: 1;
  cursor: pointer;
  transition: 0.15s;
}

.sidebar-list {
  display: flex;
  flex-direction: column;

  margin-top: 5px;
}

.sidebar-item {
  display: flex;
  align-items: center;

  color: white;
  text-decoration: none;

  font-size: 15px;
  line-height: 27px;
  vertical-align: middle;

  padding-left: 15px;
  box-sizing: border-box;

  i {
    opacity: 0.65;
    padding-right: 10px;
  }

  .sidebar-item-symbol-box, .sidebar-item-symbol {
    height: 20px;
    width: 20px;

    margin-right: 8px;

    opacity: 0.65;

    background: rgb(82,38,83);
    border-radius: 5px;

    line-height: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .sidebar-item-symbol {
    background: none;
  }

  .dm-channel-info {
    display: flex;
    align-items: center;
    overflow: visible;

    .workspace-sidebar-user-icon {
      position: relative;
      overflow: visible;
      margin-right: 8px;

      .workspace-sidebar-user-image {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 20px;
        width: 20px;

        overflow: hidden;
        border-radius: 4px;

        img {
          height: 20px;
          width: auto;
          object-fit: cover;
        }
      }

      i {
        position: absolute;
        bottom: -2px;
        right: -2px;

        font-size: 6px;

        padding: 0;
        opacity: 1;

        background: #3F0E40;

        border: 2px solid #3F0E40;
        border-radius: 6px;
        box-sizing: border-box;
      }

      .user-paused-icon {
        position: absolute;
        right: -4px;
        bottom: 3px;
        z-index: 1;
        
        font-size: 8px;
        line-height: 6px;
        font-weight: 900;
        background-color: #3F0E40;
        padding: 0 1px 1.5px 1px;
        box-sizing: border-box;
      }
    }
  }

  .channel-name {
    opacity: 0.65;
    vertical-align: center;

    display: flex;
    align-items: center;

    i {
      font-size: 15px;
      margin-right: 5px;
    }
  }
}

.sidebar-item:hover {
  background: rgb(34, 0, 34);
  cursor: pointer;
  transition: 0.15s;
}

.sidebar-item.selected {
  background:  #1164a3;
  
  .channel-name, i {
    opacity: 1;
  }

  .dm-channel-info .workspace-sidebar-user-icon i {
    border-color: #1164a3;
  }
  
  .dm-channel-info .workspace-sidebar-user-icon .user-paused-icon {
    background-color: #1164a3;
  }
}

.sidebar-item.indented {
  padding-left: 29px;
}

.sidebar-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-top: 20px;
  padding-left: 14px;
  padding-right: 15px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.sidebar-symbol {
  color: rgb(246, 236, 248);
  opacity: 0.5;
  font-weight: bold;
  margin-right: 10px; 

  line-height: 14px;
  vertical-align: middle;
}

