#workspace-sidebar {
  display: flex;
  flex-direction: column;

  background: rgb(49, 0, 49);

  position: fixed;
  top: 0;
  left: 0;

  width: 220px;
  height: 100%;
}

#workspace-sidebar-nav {
  display: flex;
  flex-direction: column;

  color: white;
  opacity: 0.8;

  padding: 15px;
  box-sizing: border-box;
}

#workspace-sidebar-nav h2{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 1px;
}

#workspace-sidebar-nav h6{
  font-size: 15px;
  padding-bottom: 4px;
}

#channels {
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  justify-content: space-between; /*NOTE: PLACE THINGS AT OPPOSITE ENDS*/
  align-items: center;

  font-weight: bold;
  opacity: 0.75;
  transition: 0.3s;

  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.sidebar-header-link, .sidebar-header-button {
  color: rgb(246, 236, 248);
  opacity: 0.9;
  
  font-size: 16px;
  text-decoration: none;

  transition: 0.1s;
}

.sidebar-header-button {
  border: 2px rgb(246, 236, 248) solid;
  border-radius: 65%;

  padding-right: 2px;
  padding-left: 2px;
  box-sizing: border-box;

  text-align: center;
  font-size: 14px;
  line-height: 12px;
}

.sidebar-header-link {
  line-height: 20px;
  vertical-align: middle;
}

.sidebar-header-link:hover, .sidebar-header-button:hover {
  color: white;
  border-color: white;
  opacity: 1;
  cursor: pointer;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  color: white;
  opacity: 0.65;
  text-decoration: none;

  font-size: 16px;
  line-height: 26px;
  vertical-align: center;

  padding-left: 15px;
  box-sizing: border-box;
}

.sidebar-item:hover {
  background: rgb(34, 0, 34);
  cursor: pointer;
}