.workspace-create-nav {
  display: flex;
  justify-content: center;

  height: 70px;
  border-bottom: 1px solid lightgray;
}

.workspace-create-nav .logo {
  padding: 20px;
}

.workspace-create-form {
  display: flex;
  flex-direction: column;
}

.workspace-create-form {
  font-size: 30px;
  width: 400px;
}