<!-- NOTE: Bootstrapping the current user and the current_workspace (root)
  This creates an API hook that returns the current user, then fetches that
  information when the app mounts. Since that request is asynchronous, it will
  cause a flickering where the page is rendered first, then re-rendered with
  the user information. To circumvent this, we will boostrap the current user
  along with the HTML when the page initially loads.
-->

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>

    window.currentWorkspace = <%= render(
      "api/workspaces/workspace.json.jbuilder",
      workspace: current_workspace
    ).html_safe %>
  </script>
<% end %>

<main id='root'>Rooted!</main>