.channel-details-modal {
  z-index: 2;

  -webkit-animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -ms-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
  animation: fadein 0.4s;

  .channel-details {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: calc(50vw - 290px);
    top: 9.5vh;
    z-index: 3;

    width: 580px;
    height: 81vh;

    border-radius: 8px;
    background: white;

    .modal-header {
      .modal-close-button {
        align-self: start;

        height: 30px;
        width: 30px;

        font-size: 22px;
        line-height: 30px;

        margin: 20px 28px 0 0;
      }
    }

    .title {
      display: flex;
      align-items: center;

      font-size: 22px;
      line-height: 26px;
      font-weight: 900;

      padding: 20px 76px 0px 28px;

      .title-image {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 72px;
        width: 72px;
        overflow: hidden;

        border-radius: 12px;
        margin: 8px 16px 8px 0;

        img {
          height: 72px;
          width: auto;
          object-fit: cover;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-start;

      margin: 12px 0px 8px 28px;

      .channel-details-button {
        display: flex;
        align-items: center;

        font-size: 13px;
        line-height: 17px;

        margin-right: 8px;
        padding: 4.5px 12px 4.5px 12px;
        border: 1px solid rgba(29, 29, 29, 0.3);
        border-radius: 4px;

        div {
          font-weight: bold;
          padding-left: 6px;
        }

        i.fa-phone {
          font-size: 12px;
        }
      }

      .channel-details-button:hover {
        cursor: pointer;
      }
    }

    .tab-buttons {
      display: flex;
      justify-content: flex-start;

      padding-left: 20px;

      div {
        padding: 9px 0;
        margin: 0px 20px 0px 8px;
        z-index: 10;

        color: gray;
        font-size: 13px;
        line-height: 18px;
        font-weight: bold;
      }

      div.selected {
        padding-bottom: 7px;
        border-bottom: rgb(0,122,91) solid 2px;

        color: black;
      }

      div:hover {
        transition: 0.3s;
        cursor: pointer;
        color: black;
      }
    }

    .tab-content {
      flex: 1;
      background-color: rgb(248,248,248);
      padding-bottom: 50px;
      box-sizing: border-box;

      border-top: 1px solid lightgray;

      .block {
        width: 522px;
        border: 1px solid lightgray;
        border-radius: 12px;
        margin: 16px 28px;

        font-size: 15px;
        line-height: 22px;

        background-color: white;

        .section {
          padding: 16px 20px;

          .section-header {
            display: flex;
            justify-content: space-between;
            font-weight: bold;

            .section-edit {
              align-self: flex-start;
              font-size: 13px;
              line-height: 17px;
              color: rgb(18,100,163);
            }

            .section-edit:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }

          .section-content {
            display: flex;

            i {
              font-size: 18px;
              line-height: 22px;
              padding-top: 1px;
              padding-right: 8px;
            }
          }

          .section-content.dm {
            margin-bottom: 8px;
          }

          .section-link {
            font-size: 15px;
            font-weight: bold;
            line-height: 22px;
            color: rgb(18,100,163);
          }

          .section-link.dm {
            padding-top: 8px;
          }

          .section-link:hover {
            transition: 0.3s;
            text-decoration: underline;
          }
        }

        .section:hover {
          transition: 0.3s;
          background-color: rgb(248,248,248);
          cursor: pointer;
        }

        .horizontal-divider {
          border: lightgray solid 0.5px;
          margin: 0px;
        }
      }

      .search-bar {
        display: flex;
        align-items: center;

        flex: 1;
        height: 36px;

        padding: 8px 8px;
        margin: 16px 28px;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 4px;
        box-sizing: border-box;

        i {
          padding-left: 4px;
          padding-right: 8px;

          font-size: 13px;
          line-height: 15px;
        }

        input {
          flex: 1;
          
          border: none;
          background: none;

          font-size: 16px;
          line-height: 18px;
        }

        input:focus {
          outline: none;
        }
      }

      .search-bar:hover, .search-bar:focus {
        transition: 0.3s;
        border: 1px solid rgb(29,28,29);
      }

      .members-list {
        width: 100%;
        height: calc(100% - 50px);
        overflow-y: scroll;
        overflow-x: hidden;

        .member {
          display: flex;
          align-items: center;

          width: 100%;
          padding: 12px 28px;
          box-sizing: border-box;

          .member-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 36px;
            width: 36px;
            overflow: hidden;

            margin-right: 12px;
            border-radius: 4px;

            img {
              height: 36px;
              width: auto;
              object-fit: cover;
            }
          }

          .member-name {
            margin-right: 6px;

            font-size: 15px;
            line-height: 18px;
            font-weight: bold;
          }

          .member-status {
            margin-top: 3px;
            font-size: 11px;
          }
        }

        .member:hover {
          transition: 0.3s;
          cursor: pointer;
          background-color: rgb(240, 240, 240);
        }
      }
    }

    .tab-content.members {
      background: white;
    }
  }
}