#edit-profile-modal-form {
  position: absolute;
  top: 15%;
  left: calc(50% - 350px);
  z-index: 2;

  width: 700px;
  height: auto;
  background: white;
  opacity: 1;
  border-radius: 10px;

  padding: 25px;

  -webkit-animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -ms-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
  animation: fadein 0.4s;

  h1 {
    font-size: 22px;
    font-weight: 900;
  
    padding-bottom: 22px;
  }

  h2 {
    font-size: 15px;
    font-weight: bold;  
    padding-bottom: 10px;
  }

  h4 {
    font-size: 13px;
    line-height: 17.5px;
    color: rgb(97, 96, 97);

    margin: 4px 0 20px 0;
  }

  .form-note {
    font-size: 12px;
    font-style: italic;
    color: gray;
  }

  .form-content {
    display: flex;

    .info {
      width: 66%;
      
      input, select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        
        background: white;
        border-radius: 5px;
        border: 1px solid rgba(29, 28, 29, 0.3);
      
        font-size: 18px;
        line-height: 30px;
      }

      option {
        font-size: 15px;
        line-height: 22px;
      }
    }

    .photo {
      width: 192px;
      margin-left: 15px;

      display: flex;
      flex-direction: column;

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 192px;
        width: 192px;
        border-radius: 5px;

        img {
          height: 100%;
          width: auto;
          border-radius: 5px;

          object-fit: cover;
        }
      }

      input {
        width: 100%;
        height: auto;
        margin-top: 10px;
      
        background:white;
        border: rgba(97, 96, 97, 0.3) 1px solid;
        border-radius: 5px;
        padding: 10px;
      
        color: black;
        font-weight: bold;
        font-size: 15px;
        line-height: 19px;
        vertical-align: middle;
      }

      input:hover {
        transition: 0.15s;
        cursor: pointer;
        background: rgb(245, 245, 245);
      }
    }
  }

  .form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    button {
      width: 84px;
      height: 38px;
    
      background:white;
      border: 1px rgb(180, 180, 180) solid;
      border-radius: 5px;
    
      color: black;
      font-weight: bold;
      font-size: 14px;
    
      margin-top: 5px;
    
      justify-self: end;
      align-self: flex-end;
    
      transition: 0.15s;
    }
    
    button:hover {
      transition: 0.15s;
      cursor: pointer;
      background: rgb(245, 245, 245);
    }

    .green-button {
      background: #007a5a;
      border: none;
      color: white;

      margin-left: 10px;
    }

    .green-button:hover {
      background: #008f69;
      box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
    }

    .green-button:disabled {
      cursor: default;
      background: gray;
    
      box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
    }
  }

  .form-errors {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: 10px;

    color: red;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    vertical-align: middle;
  }
}