#new-channel-form {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -260px;
  z-index: 2;

  width: 520px;
  height: auto;
  background: white;
  opacity: 1;
  border-radius: 10px;

  padding: 28px;
  padding-top: 23px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  -webkit-animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -ms-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
  animation: fadein 0.4s;
}

#new-channel-form h1 {
  font-size: 28px;
  font-weight: bold;

  padding-bottom: 22px;
}

#new-channel-form h6 {
  font-size: 15px;
  line-height: 22px;
  color: gray;

  padding-bottom: 24px;
}

.new-channel-form-header {
  display: flex;
  justify-content: space-between;
}

.new-channel-form-header h2 {
  font-size: 15px;
  font-weight: bold;  
  padding-bottom: 10px;
}

#new-channel-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid gray;

  font-size: 18px;
  line-height: 30px;
}

#new-channel-form button {
  width: 80px;
  height: 35px;

  background: #007a5a;
  border: none;
  border-radius: 5px;

  color: white;
  font-weight: bold;
  font-size: 16px;

  justify-self: end;
  align-self: flex-end;

  transition: 0.15s;
}

#new-channel-form button:hover {
  cursor: pointer;
  background: #008f69;

  box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
}

#new-channel-form button:disabled {
  cursor: default;
  background: gray;

  box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
}