.create-form {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -260px;
  z-index: 2;

  width: 520px;
  height: auto;
  background: white;
  opacity: 1;
  border-radius: 10px;

  padding: 28px;
  padding-top: 23px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  -webkit-animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -ms-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
  animation: fadein 0.4s;

  h1 {
    font-size: 22px;
    font-weight: 900;
  
    padding-bottom: 22px;
  }

  h6 {
    font-size: 15px;
    line-height: 22px;
    color: gray;
  
    padding-bottom: 24px;
  }

  .create-form-header {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 15px;
      line-height: 22px;
      font-weight: 700;  
      padding-bottom: 8px;
    }
  }
  
  button {
    width: 80px;
    height: 35px;
  
    background: #007a5a;
    border: none;
    border-radius: 5px;
  
    color: white;
    font-weight: bold;
    font-size: 16px;
  
    justify-self: end;
    align-self: flex-end;
  
    transition: 0.15s;
  } 

  button:hover {
    cursor: pointer;
    background: #008f69;
  
    box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
  }

  button:disabled {
    cursor: default;
    background: gray;
  
    box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
  }

  .form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    user-select: none;

    button {
      width: 84px;
      height: 38px;
    
      background:white;
      border: 1px rgb(180, 180, 180) solid;
      border-radius: 5px;
    
      color: black;
      font-weight: bold;
      font-size: 14px;
    
      margin-top: 5px;
    
      justify-self: end;
      align-self: flex-end;
    
      transition: 0.15s;
    }
    
    button:hover {
      transition: 0.15s;
      cursor: pointer;
      background: rgb(245, 245, 245);
    }

    .green-button {
      background: #007a5a;
      border: none;
      color: white;

      margin-left: 10px;
    }

    .green-button:hover {
      background: #008f69;
      box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
    }

    .green-button:disabled {
      cursor: default;
      background: gray;
    
      box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
    }
  }
}