.user-popup-modal {
  .part-modal-background {
    z-index: 3;
  }

  .user-popup {
    position: fixed;
    z-index: 4;

    width: 300px;
    height: auto;

    background-color: white;
    border: 0.5px solid rgba(29,28,29,0.1);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.08);
    box-sizing: border-box;
    border-radius: 8px;

    overflow: hidden;

    .user-popup-img {
      display: flex;
      justify-content: center;
      align-items: center;
      
      height: 260px;
      width: 300px;

      img {
        height: 300px;
        width: auto;
        object-fit: cover;
      }
    }

    .user-popup-header {
      padding: 16px;

      .user-popup-name {
        display: flex;
        align-items: center;

        width: 100%;
        box-sizing: border-box;

        font-size: 22px;
        line-height: 30px;
        font-weight: 900;

        i {
          position: relative;
          overflow: visible;

          font-size: 11px;
          line-height: 30px;

          padding: 2px 0 0 5px;
          box-sizing: border-box;
          
          .user-paused-icon {
            position: absolute;
            right: -4px;
            bottom: 16px;
            z-index: 1;
            
            font-size: 12px;
            line-height: 7px;
            font-weight: 900;
            background-color: white;
            padding: 0 1px 1.5px 0.5px;
            box-sizing: border-box;
          }
        }
      }

      .user-popup-title {
        font-size: 15px;
        line-height: 18px;
      }
    }

    .user-popup-link {
      width: 100%;
      padding: 0 16px 16px 16px;
      box-sizing: border-box;

      color: #1264A3;
      font-size: 15px;
      line-height: 22px;
    }

    .user-popup-link:hover {
      transition: 0.3s;
      cursor: pointer;
      text-decoration: underline;
    }

    .user-popup-section {
      width: 100%;
      padding: 8px 16px;
      box-sizing: border-box;

      .section-title {
        color: #1D1C1DB3;
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
      }

      .section-content {
        font-size: 15px;
        line-height: 22px;
      }
    }

    .user-popup-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: flex-end;

      height: auto;
      width: 268px;
      margin: 4px 16px 23px 16px;
      box-sizing: border-box;

      .button {
        width: 130px;

        font-size: 15px;
        font-weight: bold;
        line-height: 36px;
        text-align: center;
        
        border: 1px solid rgba(29, 28, 29, 0.3);
        border-radius: 4px;
        box-sizing: border-box;
      }

      .button:hover {
        transition: 0.3s;
        background: rgb(248, 248, 248);
        box-shadow: 0 4px 12px 0 rgba(0,0,0,.08);
        cursor: pointer;
      }
    }
  }
}