.hidden {
  display: none;
}

.full-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background: white;

  width: 100vw;
  height: 100vh;

  padding: 40px;
  box-sizing: border-box;
}

.full-modal-button {
  font-size: 25px;
  font-weight: lighter;
  text-align: right;
  color: gray;
  
  height: 25px;
}

.full-modal-button:hover {
  cursor: pointer;
}

.full-modal-header, .full-modal-list {
  font-size: 28px;
  font-weight: bold;

  width: 30%;
  
  padding-left: 30%;
  padding-top: 10px;
}

.full-modal-item {
  border-top: 1px solid gray;
  font-size: 15px;
  padding: 5px;
}