.hidden {
  display: none;
}

.full-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background: white;

  width: 100vw;
  height: 100vh;

  padding: 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.full-modal-button {
  font-size: 40px;
  font-weight: lighter;
  text-align: right;
  color: gray;
  
  height: 40px;
  width: auto;
  align-self: flex-end;

  margin-right: 30px;
  margin-bottom: 50px;
}

.full-modal-button:hover {
  cursor: pointer;
  background: lightgray;
  border-radius: 5px;
}

.full-modal-header, .full-modal-list {
  font-size: 28px;
  font-weight: bold;

  width: 30%;
  
  padding-left: 30%;
  padding-top: 10px;
}

.full-modal-item {
  border-top: 1px solid gray;
  font-size: 15px;
  padding: 5px;
}