#homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .nav {
    border-bottom: none;
  
    box-sizing: border-box;
    padding-left: 12%;
    padding-right: 12%;
  }

  .left, .right {
    margin-left: 0px;
    margin-right: 0px;
  }

  .left {
    width: 600px;
    justify-content: flex-start;
  }

  .right {
    width: 18%;
    min-width: 200px;
    justify-content: space-evenly;
  }

  .home-nav-link {
    text-decoration: none;

    color:grey;
    font-size: 16px;
    font-weight: bold;
  
    padding: 6px;
    margin-left: 6px;
    border-radius: 5px;
  }

  .home-nav-link:hover {
    background-color: rgb(223, 221, 221);
    color: rgb(121, 121, 121)
  }
}

#home-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 120px;
}

#home-greeting {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    min-width: 650px;
  
    font-size: 60px;
    font-weight: bold;
  
    text-align: center;
  }

  h4 {
    min-width: 800px;
  
    font-size: 20px;
    margin: 10px;
    padding-bottom: 20px;
  
    text-align: center
  }

  #home-buttons {
    width: 450px;

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}

#home-workspaces{
  display: flex;
  flex-direction: column;

  width: 800px;

  border: 4px solid rgb(112,69,112);
  border-radius: 9px;

  margin-top: 30px;

  h4 {
    min-height: 18px;
    font-size: 18px;
    background:rgb(236,222,236);
  }

  h4, .workspace {
    padding: 16px;
  }

  #home-workspaces-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    max-height: 415px;
    overflow-y: auto;
    overflow-x: hidden;

    .workspace {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      min-height: 50px;

      border-bottom:1px solid rgb(236,222,236);

      .workspace-details {
        display: flex;
        flex-direction: column;

        .workspace-address {
          font-size: 18px;
          font-weight: bold;

          margin-bottom: 10px;
        }

        .workspace-users {
          font-size: 14px;
          color: gray;
        }
      }

      #no-workspace-notice {
        width: 100%;
        font-size: 16px;
        line-height: 18px;

        vertical-align: center;
        text-align: center;
      }
    }

    .workspace:hover {
      transition: 0.3s;
      background: rgba(0, 0, 0, 0.03)
    }
  }
}

.home-button, .nav-button {
  color: white;
  background: rgb(96,31,105);
  border-radius: 4px;

  font-size: 15px;
  border: none;

  width: auto;
  height: 40px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-button {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  font-weight: bold;
}

.home-button:hover, .nav-button:hover {
  background: rgb(75, 1, 75);
  transition: 0.3s;
  cursor: pointer;

  box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
}


// #signin-message {
//   display: flex;
//   justify-content: space-around;
//   margin-top: 30px;
  
//   font-size: 15px;
//   line-height: 16px;
//   vertical-align: top;

//   h6 {
//     margin-right: 5px;
//   }
// }

// #signed-in-message {
//   display: flex;
//   flex-direction: column;
//   margin-top: 30px;
//   align-items: center;

//   h6 {
//     font-size: 20px;
//     line-height: 22px;
//     vertical-align: center;

//     color: purple;
//   }
// }