#home-nav {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  margin-top: 20px;
}

#links {
  display: flex;
  justify-content: space-between;
  margin-right: 500px;
  margin-left: 200px;
  width: 75%;
}

#auth {
  width: 25%
}

.nav-link {
  text-decoration: none;
  color:black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover {
  text-decoration: underline;
  color: blue;
}



