#homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#homepage .nav {
  border-bottom: none;

  box-sizing: border-box;
  padding-left: 16%;
  padding-right: 16%;
}

#homepage .left, #homepage .right {
  margin-left: 0px;
  margin-right: 0px;
}

#homepage .left {
  width: 52%;
  justify-content: space-around;
}

#homepage .right {
  width: 18%;
  justify-content: space-evenly;
}

#home-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 120px;
}

#home-greeting {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#home-greeting h1 {
  font-size: 60px;
  font-weight: bold;
}

#home-greeting h4 {
  font-size: 20px;
  margin: 10px;
}

.home-button, .nav-button {
  color: white;
  background: rgb(100, 0, 100);
  border-radius: 5px;

  font-size: 15px;
  border: none;

  width: auto;
  height: 40px;
  
  display: flex;
  align-content: center;
}

.home-button {
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  font-weight: bold;
}

.home-button:hover, .nav-button:hover {
  background: rgb(75, 1, 75);
  transition: 0.3s;
  cursor: pointer;

  box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
}


#signin-message {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  
  font-size: 15px;
}

#signin-message h6 {
  margin-right: 5px;
}