#auth-footer {
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 90%;
  left: 0;

  width: 100%;
  height: 280px;
  padding: 40px;
  padding-left: 450px;
  padding-right: 450px;
  box-sizing: border-box;

  background: white;
  border-top: 1px solid lightgray;

  font-size: 14px;
}

.auth-footer-column {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.auth-footer-link {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.auth-footer-column h6 {
  font-weight: bold;
}