#user-signin form input {
  width: 382px;
  height: 30px;
  margin-bottom: 15px;

  border-radius: 5px;
  border: 1px solid black;

  padding: 8px;
  font-size: 18px;
}

#user-signin form input[type="submit"]{
  width: 400px;
  height: 50px;

  background: #007a5a;
  border: none;
  border-radius: 5px;

  color: white;
  font-weight: bold;
  font-size: 20px;
}

#user-signin .auth-box-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#user-signin .auth-form-link {
  font-weight: normal;
  padding: 5px;
}

