.browser-channel {
  position: relative;

  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  .browser-channel-top {
    display: flex;
    flex-direction: column;
    width: 100%;

    // border-bottom: 1px solid rgb(245, 245, 245);

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;

    .browser-channel-nav {
      width: 100%;
      height: 50px;
  
      padding: 8px 20px;
  
      background: white;
      border-bottom: 1px solid lightgray;
      box-sizing: border-box;
  
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .browser-channel-title {
        font-weight: 900;
        font-size: 18px;
        line-height: 24px;
        vertical-align: baseline;
      }
  
      .browser-channel-action {
        font-size: 13px;
        line-height: 28px;
        font-weight: bold;
  
        padding: 1px 11px;
  
        border: 1px solid lightgray;
        border-radius: 5px;
        box-sizing: border-box;
      }

      .browser-channel-action:hover {
        transition: 0.2s;
        cursor: pointer;
        box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.1);
      }
    }
  
    .browser-channel-search {
      display: flex;
      justify-content: center;
      align-items: center;
  
      width: calc(100% - 40px);
      
      margin: 20px;
      padding: 8px;
  
      border: 1px solid rgba(29,28,29,0.3);
      border-radius: 5px;
      box-sizing: border-box;
  
      i {
        color: rgb(99, 99, 99);
        font-size: 16px;
      }
  
      #search-bar {
        flex: 1;
        border: none;
  
        padding: 0 8px;
  
        font-size: 16px;
        line-height: 18px;
      }
  
      #search-bar:focus {
        outline: none;
      }
    }

    .browser-channel-search:focus-within {
      transition: 0.2s;
      border-color: #1D1B1DB3;
      box-shadow: 0 0 0 3pt rgba(135, 206, 250, 0.6);
    }
  
    .browser-channel-header {
      height: 24px;
      flex: 1;
  
      margin: 0 25px 0 20px;
      border-bottom: 1px solid lightgray;
      
      font-size: 13px;
      line-height: 24px;
      font-weight: 700;
      color: #1D1B1DB3
    }
  }

  .browser-channel-content {
    position: absolute;
    left: 0px;
    top: 150px;

    height: calc(100% - 150px);
    width: 100%;

    box-sizing: border-box;

    overflow-y: scroll;
    overflow-x: hidden;

    .browser-channel-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      padding: 0 10px;

      .browse-modal-user {
        height: 240px;
        width: 150px;

        margin: 8px;

        border: 1px solid lightgray;
        border-radius: 8px;
        overflow: hidden;

        .browse-modal-user-image {
          display: flex;
          align-items: center;
          justify-content: center;
          
          height: 150px;
          width: 150px;

          img {
            height: 150px;
            width: auto;
            object-fit: cover;
          }
        }

        .browse-modal-user-info {
          padding: 10px 16px;

          .browse-modal-username {
            display: flex;
            font-size: 15px;
            line-height: 22px;
            font-weight: bold;

            .user-activity-icon {
              position: relative;
              height: 22px;
              width: 22px;

              i {
                font-size: 10px;
                padding-left: 5px;
              }

              .user-paused-icon {
                position: absolute;
                right: 2px;
                top: 2px;
                z-index: 1;
                
                font-size: 12px;
                line-height: 7px;
                font-weight: 900;
                background-color: white;
                padding: 0 1px 1.5px 0.5px;
                box-sizing: border-box;
              }
            }
          }

          .browse-modal-occupation {
            font-size: 13px;
            line-height: 18px;
            color: #1D1B1DB3;
          }
        }
      }

      .browse-modal-user:hover {
        transition: 0.3s;
        cursor: pointer;
      }

      .browse-modal-user.placeholder {
        height: 0px;
        border: 1px solid white;
      }
    }

    .browser-channel-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      overflow: visible;

      .browser-list-item {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 100%;
        border-top: 1px solid lightgray;
        padding: 16px 12px;
        box-sizing: border-box;
        overflow: visible;

        .channel-name {
          font-size: 15px;
          font-weight: bold;
          line-height: 22px;
        }

        .channel-details {
          display: flex;
          align-items: center;
          color: #1D1C1DB3;

          font-size: 13px;
          line-height: 20px;

          .channel-status {
            display: flex;
            align-items: center;

            color: #007A5A;
            font-weight: bold;

            i {
              font-size: 8px;
              padding: 1px 4px 0 0;
            }
          }

          .divider {
            font-size: 2.5px;
            padding: 0 8px;
          }
        }

        .buttons {
          position: absolute;
          top: 0px;
          left: -20px;

          display: flex;
          align-items: center;

          width: auto;
          height: 100%;

          padding: 16px 0;
          box-sizing: border-box;

          display: none;

          .button {
            width: 77px;

            border: 1px solid rgb(190, 190, 190);
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 10px;  
            
            background-color: white;
            font-size: 15px;
            line-height: 36px;
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
          }

          .button.green {
            color: white;
            background-color: #007A5A;
            border: 1px solid #007A5A;
          }
        }
      }

      .browser-list-item:hover {
        transition: 0.3s;
        cursor: pointer;
        background: rgb(248, 248, 248);

        .buttons {
          transition: 0.3s;
          display: flex;
          background: rgb(248, 248, 248);
        }

        .buttons:hover {
          transition: 0.3s;

          .button:hover {
            transition: 0.3s;
            box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.1);
          }

          .button.green:hover {
            transition: 0.3s;
            box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.1);
            background: #008f69;
          }
        }
      }
    }
  }  
  .message-list {
    position: absolute;
    top: 0px;
    padding-top: 70px;
    background: rgb(248, 248, 248);
    box-sizing: border-box;

    max-height: 100%;
    height: 100%;

    .message {
      width: calc(100% - 40px);

      margin: 0 20px 20px 20px;
      padding: 10px 12px 14px 12px;
      border: 1px solid rgba(29,28,29,0.3);
      border-radius: 12px;
      background: white;
      box-sizing: border-box;

      .message-channel-header {
        color: rgba(29,28,29,0.7);
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 8px;
      }

      .message-channel-header:hover {
        transition: 0.3s;
        text-decoration: underline;
        cursor: pointer;
      }

      .message-content {
        .message-user-icon {
          margin-left: 0;
        }
        .message-buttons {
          top: 10px;
          right: 12px;
        }
      }
    }
  }
}