#channel {
  position: fixed;
  top: 0;
  left: 220px;

  width: 100%;
  height: 100%;
}

/* TODO1: MAKE THIS ALWAYS BE UNDER THE GEAR BUTTON*/
.dropdown.channel-settings {
  top: 50px;
  right: 580px;
}

.dropdown.channel-settings {
  width: 200px;
}