.chatroom-container {
  position: fixed;
  top: 60px;
  left: 220px;
  z-index: 100;

  width: calc(100% - 220px);
  height: calc(100% - 30px);
}

.message-list {
  width: 100%;
  height: calc(100% - 100px);
  
  overflow-x: hidden;
  overflow-y: auto;

  /* display: flex; TODO: WHY DOESN'T SCROLLBAR WORK WITH FLEXBOX HERE*/ 
  flex-direction: column;
  justify-content: flex-end;
}

.chatroom-container form {
  position: fixed;
  bottom: 0px;
  left: 220px;
  
  width: calc(100% - 220px);

  padding: 20px;  
  padding-bottom: 25px;
  box-sizing: border-box;
}

.chat-input[type="text"] {
  font-size: 16px;
  line-height: 16px;

  width: 100%;

  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

.chatroom-container input[type="text"]:focus {
  outline: none;
}

.chatroom-container input[type="submit"] {
  display: none;
}

.message {
  width: calc(100% - 220);
  height: auto;
  overflow-y: auto;
  display: flex;
  
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border-top: 1px solid lightgray;
}

.message-user-icon {
  width: 37px;
  height: 37px;
  overflow: hidden;

  margin-left: 5px;
  margin-right: 10px;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 37px;
    width: auto;
    object-fit: cover;
  }

  img:hover {
    transition: 0.3s;
    cursor: pointer;
  }
}

.message-text {
  display: flex;
  flex-direction: column;
  width: calc(100% - 53px);
}

.message-header {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.message-user {
  font-size: 16px;
  font-weight: bold;
  height: 20px;
}

.message-user:hover {
  transition: 0.3s;
  cursor: pointer;
  text-decoration: underline;
}

.message-time {
  font-size: 12px;
  height: 12px;
  margin-left: 10px;

  color: gray;
}

.message-body {
  font-size: 15px;
  width: 100%;
  overflow-wrap: break-word;

  padding-bottom: 3px;
  box-sizing: border-box;
}

