#channel {
  height: 100%;
  flex: 1;
  display: flex;

  border-top: 1px solid lightgray;

  #channel-main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    #channel-nav {
      height: 50px;
      width: 100%;
      z-index: 1;
    }

    .chatroom-container {
      height: 100%;
      flex: 1;
    }    
  }
}

.dropdown.channel-settings {
  top: 50px;
  right: 580px;
}

.dropdown.channel-settings {
  width: 200px;
}