.channel-profile-sidebar {
    width: 348px;
    height: 100%;
    border-left: 1px solid lightgray;
    box-sizing: border-box;

  .profile-sidebar-title {
    height: 50px;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 20px;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;

    h1 {
      font-size: 18px;
      line-height: 24px;

      font-weight: 900;
      vertical-align: middle;
    }

    div {
      width: 30px;
      height: 30px;

      font-size: 20px;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;

      border-radius: 4px;

      margin: 10px;
      margin-right: 0px;
      color: gray;
    }

    div:hover {
      transition: 0.3s;
      cursor: pointer;
      background: rgb(240, 240, 240);
    }
  }

  #profile-sidebar-content {
    width: 100%;
    height: calc(100% - 60px);
    padding: 16px;
    box-sizing: border-box;

    #profile-sidebar-picture {
      height: 260px;
      width: 260px;
      padding: 0px 25px 10px 25px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 260px;
        width: auto;
        object-fit: cover;

        border-radius: 5px;
      }
    }

    #profile-sidebar-overview {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;

      #profile-sidebar-name {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 30px;

        div {
          font-size: 18px;
          line-height: 30px;
          vertical-align: center;
          font-weight: bold;
        }

        i {
          position: relative;
          overflow: visible;

          font-size: 11px;
          line-height: 30px;

          padding: 2px 0 0 5px;
          box-sizing: border-box;
          
          .user-paused-icon {
            position: absolute;
            right: -4px;
            bottom: 16px;
            z-index: 1;
            
            font-size: 12px;
            line-height: 7px;
            font-weight: 900;
            background-color: white;
            padding: 0 1px 1.5px 0.5px;
            box-sizing: border-box;
          }
        }
        

      }

      #profile-sidebar-occupation, #profile-sidebar-status {
        font-size: 15px;
        line-height: 18px;
        vertical-align: center;
      }

      #profile-sidebar-status {
        padding-top: 3px;
        font-size: 13px;
        color: #1D1C1DB3;
      }
    }

    #profile-sidebar-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      width: 100%;
      margin-bottom: 40px;

      .profile-sidebar-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 60px;
        padding: 0 20px;

        .button-icon {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 40px;
          height: 40px;
          background: #1D1C1D0A;
          border-radius: 20px;

          font-size: 16px;
        }

        .button-icon:hover {
          transition: 0.3s;
          cursor: pointer;
          background: rgb(226, 226, 226);
        }

        .button-description {
          color: #1D1C1DB3;
          font-size: 13px;
          line-height: 19px;
          vertical-align: center;
        }

        .button-description {
          cursor: pointer;
        }
      }
    }

    #profile-sidebar-sections {
      display: flex;
      flex-direction: column;
      width: 100%;

      .profile-sidebar-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 16px;

        .profile-sidebar-section-name {
          color: #1D1C1DB3;
          font-weight: bold;
          font-size: 13px;
          line-height: 18px;
          vertical-align: center;
        }

        .profile-sidebar-section-content {
          color: #1D1C1D;
          font-size: 15px;
          line-height: 22px;
          vertical-align: center;
        }
      }
    }
  }
}