.message-list {
  width: 100%;
  max-height: calc(100% - 154px);
  
  overflow-x: hidden;
  overflow-y: auto;

  vertical-align: text-bottom;

  // FOR RICHTEXT MESSAGE EDITOR
  b { font-weight: 700 }
  i { font-style: italic }
  ul { 
    list-style-position: inside;
    list-style-type: disc;
  }
  ol { 
    list-style-position: inside;
    list-style-type: decimal;
    li::before {
      content: "";
      padding-left: 5px;
    }
  }
  ol, ul {
    li {
      line-height: 22px;
    }
  }

  .black-popup {
    top: -40px;
    left: calc(50% - 65px);
    width: 130px;
  }
}

.chatroom-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  form {
    width: 100%;
    height: 81px;

    padding: 20px;
    box-sizing: border-box;
  }

  .chat-input[type="text"] {
    font-size: 15px;
    line-height: 15px;

    width: 100%;
  
    padding: 11px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
  }

  input[type="text"]:focus {
    outline: none;
  }

  input[type="submit"] {
    display: none;
  }

  .channel-preview-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 174px;
  
    padding: 24px 30px;
    box-sizing: border-box;
  
    background: rgb(240, 240, 240);

    h1 {
      font-size: 18px;
      line-height: 24px;
      vertical-align: top;
      padding-right: 10px;
      justify-self: flex-start;
    }

    .buttons {
      display: flex;
      margin-top: 28px;

      .channel-preview-button {
        border: 1px solid rgb(190, 190, 190);
        border-radius: 4px;
        padding: 0 12px 1px 12px;
        box-sizing: border-box;

        margin: 0 8px;  
        
        color: black;
        background-color: white;
        font-size: 15px;
        line-height: 33px;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
      }

      .channel-preview-button.green {
        color: white;
        font-weight: 900;
        background-color: #007A5A;
        border: 1px solid #007A5A;
      }
      
      .channel-preview-button:hover {
        transition: 0.3s;
        cursor: pointer;
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.1);
      }  

      .channel-preview-button.green:hover {
        transition: 0.3s;
        cursor: pointer;
        box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.1);
        background: #008f69;
      }  
    }
    
    .channel-preview-link {
      margin-top: 16px;

      font-size: 15px;
      line-height: 22px;
      text-decoration: underline;
    }

    .channel-preview-link:hover {
      cursor: pointer;
    }
  }
} 

#message-form-container {
  overflow: visible;
  
  #message-box {
    display: flex;
    flex-direction: column;
    flex: none;
    overflow: visible;
  
    padding: 0 16px;
    margin-top: 12px;
  
    #message-form {
      overflow: visible;
      border: 1px solid rgba(29,28,29,0.3);
      border-radius: 6px;
      opacity: 0.5;
  
      .toolbar-button {
        position: relative;
        overflow: visible;
        width: 24px;
  
        padding: 2px;
        border-radius: 4px;
  
        margin: 2px;
        
        color: rgba(29,28,29,0.7);
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        user-select: none;
  
        .black-popup {
          width: 100px;
          left: calc(50% - 50px);
          top: -67px;
          line-height: 16px;
          padding: 5px 0;
        }
      }
  
      .toolbar-button.selected {
        background: rgb(220, 220, 220);
      }
  
      .toolbar-divider {
        height: 20px;
        width: 1px;
        border: 0.5px solid rgba(29,28,29,0.2);
        box-sizing: border-box;
  
        margin: 0 3px;
      }
  
      #chat-toolbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: visible;
  
        padding: 4px;
        height: 30px;
        background: rgb(248,248,248);
        border-radius: 6px 6px 0 0;
      }
  
      #chat-toolbar.hidden {
        display: none;  
      }
  
      #chat-input {
        padding: 8px 12px;
        line-height: 22px;
  
        // FOR RICHTEXT MESSAGE EDITOR
        b { font-weight: 700 }
        i { font-style: italic }
        ul { 
          list-style-position: inside;
          list-style-type: disc;
        }
        ol { 
          list-style-position: inside;
          list-style-type: decimal;
          li::before {
            content: "";
            padding-left: 5px;
          }
        }
        ol, ul {
          li {
            line-height: 22px;
          }
        }
      }
  
      #chat-input:focus {
        outline: none;
      }
  
      #chat-input:hover {
        cursor: text;
      }
  
      #chat-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: visible;
  
        height: 40px;
        
        padding: 6px;
        box-sizing: border-box;
  
        .toolbar-button {
          .black-popup {
            top: -45px;
            padding: 10px;
            left: calc(50% - 60px);
          }
        }

        .toolbar-button:hover {
          transition: 0.3s;
          cursor: pointer;
          background: rgb(220, 220, 220);

          .black-popup {
            display: flex;
          }
        }

        #message-send-buttons {
          display: flex;
          justify-content: flex-end;
          flex: 1;

          .button {
            height: 28px;
            padding: 0 12px;
            border: 1px solid rgba(29,28,29,0.3);
            border-radius: 4px;
            box-sizing: border-box;

            color:black;
            font-size: 13px;
            font-weight: 700;
            line-height: 26px;
          }

          .button:hover {
            transition: 0.15s;
            cursor: pointer;
            background: rgb(245, 245, 245);
          }
      
          .button.green-button {
            background: #007a5a;
            border: none;
            color: white;
      
            margin-left: 10px;
          }
      
          .button.green-button:hover {
            background: #008f69;
            box-shadow: 0 0.25rem 2rem rgba(0,0,0,0.1);
          }
        }
      }
    }
  
    #message-form:hover {
      cursor: text;
    }
  
    #message-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      height: 24px;
      color: #1D1C1DB3;
      text-align: end;
      font-size: 10.5px;
      line-height: 16px;
  
      opacity: 0.5;
    }
  }
  
  #message-box:focus-within {
    #message-form {
      transition: 0.2;
      opacity: 1;
    }
  
    #message-footer {
      transition: 0.2;
      opacity: 1;
    }
  
    .toolbar-button:hover {
      transition: 0.3s;
      cursor: pointer;
      background: rgb(220, 220, 220);

      .black-popup {
        display: flex;
      }
    }
  }
}

#message-form-container.editor {  
  background: white;

  #message-box {
    padding: 0px;
    margin: 0px;
  }
}


.day-divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 40px;

  .day-divider-line {
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 0;

    width: 100%;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
  }

  .day-divider-date {
    z-index: 1;

    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    vertical-align: middle;

    padding: 7px 16px;
    box-sizing: border-box;

    background: white;
    border: 1px solid lightgray;
    border-radius: 15px;
  }
}

.message {
  position: relative;

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: visible;

  padding: 6px 16px 6px 16px;
  box-sizing: border-box;

  .saved-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 2px;

    font-size: 13px;
    line-height: 19px;

    i {
      width: 7.5px;
      padding: 1px 10px 0 34.5px;

      font-size: 10px;
      font-style: normal;
      text-align: center;
    }
    div {
      color: rgba(29,28,29,0.7);
    }
  }
  
  .message-content {
    display: flex;
    overflow: visible;

    // FOR RICHTEXT MESSAGE EDITOR
    b { font-weight: 700 }
    i { font-style: italic }
    ul { 
      list-style-position: inside;
      list-style-type: disc;
    }
    ol { 
      list-style-position: inside;
      list-style-type: decimal;
      li::before {
        content: "";
        padding-left: 5px;
      }
    }
    ol, ul {
      li {
        line-height: 22px;
      }
    }

    .black-popup {
      top: -40px;
      left: calc(50% - 65px);
      width: 130px;
    }

    .message-user-icon {
      width: 37px;
      height: 37px;
      overflow: hidden;
    
      margin-left: 5px;
      margin-right: 10px;
    
      border-radius: 4px;
    
      display: flex;
      align-items: center;
      justify-content: center;
    
      img {
        height: 37px;
        width: auto;
        object-fit: cover;
      }
    
      img:hover {
        transition: 0.3s;
        cursor: pointer;
      }
    }
  
    .message-time-tag {
      position: relative; 
      overflow: visible;

      width: 37px;
      height: 12px;
      
      font-size: 12px;
      text-align: end;
  
      padding-top: 6px;
      padding-bottom: 4px;
  
      padding-left: 5px;
      padding-right: 10px;
      color: gray;
  
      opacity: 0; 

      .black-popup {
        left: calc(50% - 40px);
        width: 80px;
      }
    }
    
    .message-text {
      display: flex;
      flex-direction: column;
      width: calc(100% - 52px);
      overflow: visible;
    
      .message-header {
        width: 100%;
        display: flex;
        align-items: baseline;
        overflow: visible;
      
        .message-user {
          font-size: 16px;
          font-weight: bold;
          height: 20px;
        }
        
        .message-user:hover {
          transition: 0.3s;
          cursor: pointer;
          text-decoration: underline;
        }
        
        .message-time {
          position: relative;
          overflow: visible;

          font-size: 12px;
          height: 12px;
          margin-left: 10px;
        
          color: gray;
        }

        .message-time:hover {
          transition: 0.3s;
          cursor: pointer;
          text-decoration: underline;

          .black-popup {
            transition: 0.3s;
            display: flex;
          }
        }
      }
      
      .message-body {
        font-size: 15px;
        
        padding-top: 3px;
        padding-bottom: 4px;
  
        overflow-wrap: break-word;
        box-sizing: border-box;
      }
    }
  
    .message-buttons {
      position: absolute;
      top: -25px;
      right: 10px;
      overflow: visible;
  
      display: none;
      justify-content: flex-start;
      align-items: center;
  
      height: 38px;
      width: auto;
  
      background: white;
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.8);
      border-radius: 6px;
      padding: 2px;
      box-sizing: border-box;
  
      .message-button {
        position: relative;

        width: 32px;
        height: 32px;
  
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
  
        border-radius: 6px;
  
        font-size: 14px;
        line-height:  32px;
        text-align: center;
  
        i {
          font-style: normal;
          margin-top: 2px;
        }

        i.highlight {
          background: #E01E5A;
        }

        .black-popup {
          top: -40px;
        }

        .black-popup.medium {
          width: 84px;
          left: calc(100% - 58px);
        }

        .black-popup.thin {
          width: 50px;
          left: calc(100% - 41px);
        }
      }
  
      .message-button:hover {
        transition: 0.3s;
        cursor: pointer;
        background: rgb(240, 240, 240);

        .black-popup {
          display: flex;
          overflow: visible;
        }
      }
    }
  }

  .message-reacts-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 52px;

    .message-react {
      display: flex;
      justify-content: center;

      padding: 4px 6px;
      margin: 0 4px 0 0;
      background: rgb(248, 248, 248);
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 12px;

      .emoji {
        font-size: 14px;
        line-height: 15px;
        padding-bottom: 1px;
      }
      .number {
        padding: 0 1px 0 3px;

        color: rgb(29, 28, 29);
        font-size: 11px;
        line-height: 16px;
      }
    }

    .message-react:hover {
      transition: 0.1s;
      border-color: rgba(29,28,29,0.7);
      background: white;
      cursor: pointer;
    }
  }
}

.message:hover {
  background: rgb(248, 248, 248);

  .message-time-tag {
    opacity: 1;
  }

  .message-time-tag:hover {
    transition: 0.3s;
    cursor: pointer;
    text-decoration: underline;

    .black-popup {
      top: -35px;
      display: flex;
    }
  }

  .message-buttons {
    display: flex;
  }

  .message-react {
    background: rgb(240, 240, 240);
  }
}

.message.saved {
  background: rgb(253,249,237);
}

.message.saved:hover {
  background: rgb(253,249,237);
}


