#channel-nav {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 220px);
  height: 60px;

  background: white;
  border-bottom: 1px solid lightgray;
  display: flex;
}

#channel-nav #left {
  width: calc(100% - 400px);
  height: 100%;

  padding: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}

/*fix css for here*/
#channel-nav #right {
  width: 400px;
  height: 100%;

  padding: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}

#channel-nav #left h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

#channel-nav .settings-button {
  height: 100%;
  width: 40px;

  font-size: 24px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center; 

  font-weight: bold;
  color: gray;
}

#channel-nav .settings-button:hover {
  cursor: pointer;
}