#channel-nav {
  display: flex;
  justify-content: space-between;
  
  background: white;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  
  .fa-star {
    vertical-align: middle;
    font-size: 13px;

    margin-right: 5px;
    padding-bottom: 1px;
  }
  
  #star, #channel-nav #members, #channel-nav #topic {
    cursor: pointer; 
    font-size: 13px;
    line-height: 18px;
    border: 1px solid white;
    vertical-align: middle;
  }

  
  #left {
    height: 100%;
  
    padding: 3px;
    padding-right: 10px;
    padding-left: 17px;
    box-sizing: border-box;
  
    display: flex;
    align-items: center;

    .channel-info {
      display: flex;
      align-items: center;
      overflow: visible;

      border-radius: 6px;
      padding: 3px 8px;

      .channel-name {
        font-weight: 900;
        font-size: 18px;
        line-height: 24px;
        vertical-align: baseline;
      }

      .channel-nav-user-icon {
        position: relative;
        overflow: visible;
        margin-right: 10px;
  
        .channel-nav-user-image {
          display: flex;
          justify-content: center;
          align-items: center;
  
          height: 24px;
          width: 24px;
  
          overflow: hidden;
          border-radius: 4px;
  
          img {
            height: 24px;
            width: auto;
            object-fit: cover;
          }
        }
  
        i {
          position: absolute;
          bottom: -3px;
          right: -5px;

          font-size: 9px;
  
          background: white;
  
          border: 2px solid white;
          border-radius: 8px;
          box-sizing: border-box;
        }
        
        .user-paused-icon {
          position: absolute;
          right: -8px;
          bottom: 5px;
          z-index: 1;
          
          font-size: 12px;
          line-height: 7px;
          font-weight: 900;
          background-color: white;
          padding: 0 1px 1.5px 0.5px;
          box-sizing: border-box;
        }
      }

      i.fa-chevron-down {
        padding-top: 1px;
        margin-left: 5px;

        color: rgb(30,30,30);
        font-size: 8px;
      }
    }

    .channel-info:hover {
      transition: 0.3s;
      cursor: pointer;
      background: rgb(236,236,236);
    }

    #topic {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      
      height: 30px;
      padding: 6px 6px;
      margin: 0px 10px;
      box-sizing: border-box;
    
      div {
        width: auto;
    
        color: #1D1C1DB3;
        font-size: 13px;
        line-height: 15px;
        box-sizing: border-box;
      }
    }

    #topic:hover {
      cursor: pointer;
      // border: 1px solid gray;
      // border-radius: 4px;
    }

    #left-bottom {
      height: 18px;
      color: rgb(100, 100, 100);
    
      display: flex;
      justify-content: flex-start;
      
      #members {
        display: flex;

        .material-icons {
          font-size: 18px;
          vertical-align: middle;
        }

        div {
          font-size: 16px;
          line-height: 18px;
          vertical-align: bottom;
        }
      }

      #members:hover {
        cursor: pointer;
        color: rgb(43, 108, 161)
      }
    }
  }

  .right {
    flex: 1;
    height: 100%;
    min-width: 50px;
  
    box-sizing: border-box;
    margin-right: 10px;
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.channel-nav-divider {
  font-size: 18px;
  color:rgb(150, 149, 149);

  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

#channel-nav .settings-button {
  height: 100%;
  width: 40px;

  font-size: 24px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center; 

  font-weight: bold;
  color: gray;
}

#channel-nav .settings-button:hover {
  cursor: pointer;
}

.channel-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  border-radius: 4px;

  color: #1D1C1DB3;
  font-size: 15px;
  line-height: 36px;
  text-align: center;

  margin: 10px;
}

.channel-nav-button:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}