#channel {
  position: fixed;
  top: 0;
  left: 220px;

  width: 100%;
  height: 100%;

  background: lightgray;
}

.dropdown.channel-settings {
  top: 50px;
  right: 37%;
}

.dropdown.channel-settings {
  width: 200px;
}