.chatroom-container {
  position: fixed;
  top: 60px;
  left: 220px;

  width: calc(100% - 220px);
  height: calc(100% - 60px);
}

.message-list {
  width: 100%;
  height: calc(100% - 85);
  overflow: hidden;
}

.chatroom-container form {
  position: fixed;
  bottom: 0px;
  left: 220px;
  
  width: calc(100% - 220px);

  padding: 20px;  
  padding-bottom: 25px;
  box-sizing: border-box;
}

.chat-input[type="text"] {
  font-size: 16px;
  line-height: 16px;

  width: 100%;

  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

.chatroom-container input[type="text"]:focus {
  outline: none;
}

.chatroom-container input[type="submit"] {
  display: none;
}

.message {
  padding: 10px;
  padding-left: 60px;
  border-top: 1px solid black;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.message-header {
  width: 100%;
  display: flex;
}

.message-user {
  font-size: 20px;
  line-height: 20px;
  color: gray;
}

.message

