.message-list {
  width: 100%;
  height: calc(100% - 81px);
  
  overflow-x: hidden;
  overflow-y: auto;

  /* display: flex; TODO: WHY DOESN'T SCROLLBAR WORK WITH FLEXBOX HERE*/ 
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.chatroom-container {
  form {
    width: 100%;
    height: 81px;

    padding: 20px;
    box-sizing: border-box;
  }

  .chat-input[type="text"] {
    font-size: 15px;
    line-height: 15px;

    width: 100%;
  
    padding: 11px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
  }

  input[type="text"]:focus {
    outline: none;
  }

  input[type="submit"] {
    display: none;
  }

  .channel-preview-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
    padding-left: calc(50% - 166px);
    box-sizing: border-box;
  
    height: 70px;
    background: rgb(240, 240, 240);

    h1 {
      font-size: 17px;
      line-height: 18px;
      vertical-align: top;
      padding-right: 10px;
      justify-self: flex-start;
    }

    .channel-preview-button {
      background: #007a5a;
      border-radius: 5px;
    
      font-size: 14px;
      font-weight: bolder;
      line-height: 14px;
      color: white;
      vertical-align: middle;
    
      padding: 12px;
      box-sizing: border-box;
    }
    
    .channel-preview-button:hover {
      cursor: pointer;
      background: #008f69;
    }  
  }
} 

.message {
  width: calc(100% - 220);
  height: auto;
  overflow-y: auto;
  display: flex;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  // border-top: 1px solid lightgray;
}

.message:hover {
  background: rgb(248, 248, 248);
  transition: 0.3s;
}

.message-user-icon {
  width: 37px;
  height: 37px;
  overflow: hidden;

  margin-left: 5px;
  margin-right: 10px;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 37px;
    width: auto;
    object-fit: cover;
  }

  img:hover {
    transition: 0.3s;
    cursor: pointer;
  }
}

.message-text {
  display: flex;
  flex-direction: column;
  width: calc(100% - 53px);
}

.message-header {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.message-user {
  font-size: 16px;
  font-weight: bold;
  height: 20px;
}

.message-user:hover {
  transition: 0.3s;
  cursor: pointer;
  text-decoration: underline;
}

.message-time {
  font-size: 12px;
  height: 12px;
  margin-left: 10px;

  color: gray;
}

.message-body {
  font-size: 15px;
  width: 100%;
  overflow-wrap: break-word;

  padding-bottom: 3px;
  box-sizing: border-box;
}