

/* .channel-preview-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: calc(50% - 166px);
  box-sizing: border-box;

  height: 70px;
  background: rgb(240, 240, 240);
}

.channel-preview-panel h1 {
  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
  padding-right: 10px;
  justify-self: flex-start;
}

.channel-preview-button {
  background: #007a5a;
  border-radius: 5px;

  font-size: 14px;
  font-weight: bolder;
  line-height: 14px;
  color: white;
  vertical-align: middle;

  padding: 12px;
  box-sizing: border-box;
}

.channel-preview-button:hover {
  cursor: pointer;
  background: #008f69;
} */

