.video-chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 60px;
  left: 220px;
  z-index: 100;

  padding-top: 5%;

  width: calc(100% - 220px);
  height: calc(100% - 30px);

  .video-chatroom-videos {  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    #remote-video-container, #local-video-container {
      width: 40%;
      height: 100%;

      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    #remote-video-container {
      padding-right: 10px;
    }
  }

  .video-chatroom-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;

    .video-chatroom-setting {
      color: gray;
      font-size: 18px;
      line-height: 25px;
      vertical-align: text-top;
    
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    
      margin: 10px;
      margin-top: 12px;
      margin-bottom: 8px;
      margin-right: 15px;
    }
    
    .video-chatroom-setting:hover {
      cursor: pointer;
      transition: 0.3s;
      border-bottom: 1px solid rgba(209, 209, 209, 0.603);
    }
  }
}