.video-chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  width: 100%;
  height: 100%;

  background: black;
  
  #call-cancelled-notice-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    #call-cancelled-notice {
      color: white;

      font-size: 18px;
      line-height: 20px;
      vertical-align: center;
    }
  }

  .video-tag {
    position: fixed;
    top: 0px;

    color: rgba(255,255,255,0.1);
    font-size: 18px;
    line-height: 24px;
    vertical-align: center;
  }

  .video-chatroom-videos {  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    #remote-video, #local-video {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      #remote-video-container, #local-video-container, video {
        width: 100%;
        flex: 1;
        display: flex;
      }
    }
    
    #local-video-minimized {
      position: fixed;
      bottom: 5px;
      right: 5px;
      
      width: 192px;
      height: 144px;
      border-radius: 5px;
      border: 1px solid rgba(150, 150, 150, 0.2);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      #remote-video-container, #local-video-container, video {
        width: 100%;
        flex: 1;
        display: flex;
      }
    }
  }

  .video-chatroom-settings {
    position: fixed;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;

    .video-chatroom-setting {
      color: black;
      font-size: 24px;
      line-height: 24px;
      vertical-align: text-top;
    
      margin: 10px;
      margin-top: 12px;
      margin-bottom: 8px;
      margin-right: 15px;

      width: 48px;
      height: 48px;
      border-radius: 24px;
      background: rgba(150, 150, 150, 0.6);

      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .video-chatroom-setting:hover {
      cursor: pointer;
      transition: 0.3s;
      background: rgba(161, 161, 161, 1);
    }
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity .2s linear;
  }
}