.video-chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  width: 100%;
  height: 100%;

  .video-tag {
    position: fixed;
    top: 0px;

    color: #1D1C1DB3;
    font-size: 18px;
    line-height: 24px;
    vertical-align: center;
  }

  .video-chatroom-videos {  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    #remote-video, #local-video {
      width: 50%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      #remote-video-container, #local-video-container, video {
        width: 100%;
        flex: 1;
        display: flex;
      }
    }
  }

  .video-chatroom-settings {
    position: fixed;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .video-chatroom-setting {
      color: gray;
      font-size: 18px;
      line-height: 25px;
      vertical-align: text-top;
    
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    
      margin: 10px;
      margin-top: 12px;
      margin-bottom: 8px;
      margin-right: 15px;
    }
    
    .video-chatroom-setting:hover {
      cursor: pointer;
      transition: 0.3s;
      border-bottom: 1px solid rgba(209, 209, 209, 0.603);
    }
  }
}