/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

strong { font-weight: bold }

em { font-style: italic }

.hidden { display: none }

.no-highlight { user-select: none }
.no-background { background: none }

.no-top-border { border-top: none }
.no-bottom-border { border-bottom: none }
.no-left-border { border-left: none }
.no-right-border { border-right: none }

.red { color: red }
.magenta { color: #e01e5a }
.pink { color: rgb(255, 70, 255) }
.orange { color: rgb(241, 157, 0) }

.green { color: green }
.dark-green { color: rgb(48,162,76) }
.light-green { color: rgb(0, 255, 0) }

.blue { color: rgb(33, 33, 245) }

.dark-gray { color: darkgray }
.gray { color: #1d1c1db3}

.bold-900 { font-weight: 900 }
.bold-700 { font-weight: 700 }
.bolder { font-weight: bolder }

/* html {
  height: 100%;
  width: 100%;
} */

.loading-page {
  background: black;
  opacity: 0.3;

  width: 100vw;
  height: 100vh;

  -webkit-animation: fadein-opaque 2s;
  -moz-animation: fadein-opaque 2s;
  -ms-animation: fadein-opaque 2s;
  -o-animation: fadein-opaque 2s;
  animation: fadein-opaque 2s;
}

.loading-page img {
  opacity: 0.3;

  position: absolute;
  top: 50%;
  left: 50%;

  height: 600px;
  width: 800px;

  margin-top: -400px;
  margin-left: -400px;
}

.horizontal-divider {
  border: 0.5px solid lightgray;
  margin: 8px 0;
}

/* Speech bubble popups for time and message form */
.black-popup {
  display: none;
  position: absolute;
  overflow: visible;
  top: -40px;
  left: calc(50% - 65px);

  width: 130px;

  color: white;
  font-size: 12.5px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  border-radius: 6px;
  background: black;
}

.black-popup:after {
  content:"";
  position:absolute;
  bottom:-6px; /* value = - border-top-width - border-bottom-width */
  left: calc(50% - 8px); /* controls horizontal position */
  border-width:8px 8px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:black transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}