#homepage {
  display: flex;
  flex-direction: column;
}

#homepage .nav {
  border-bottom: none;

  box-sizing: border-box;
  padding-left: 12%;
  padding-right: 12%;
}

#homepage .left {
  width: 52%;
  justify-content: space-around;
}

#homepage .right {
  width: 18%;
}

#home-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 120px;
}

#home-greeting {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#home-greeting h1 {
  font-size: 60px;
  font-weight: bold;
}

#home-greeting h4 {
  font-size: 20px;
  margin: 10px;
}

.home-button {
  color: white;
  background: purple;
  border-radius: 5px;

  font-size: 15px;
  font-weight: bold;
  border: none;

  width: 130px;
  height: 50px;
}

.home-button:hover {
  background: rgb(95, 1, 95);
  transition: 0.3s;
  cursor: pointer;
}


#signin-message {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  
  font-size: 15px;
}

#signin-message h6 {
  margin-right: 5px;
}