.nav {
  position:fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 70px;

  background-color: white;
  border-bottom: 1px solid lightgrey;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
}

.right {
  width: 700px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-right: 20px;
}

.left {
  display: flex;
  justify-content: start;
  align-items: center;

  margin-left: 20px;
  width: 25%;
}

.logo {
  width: 105px;
  height: 30px;
}

img {
  width: inherit;
  height: inherit;
}

.home-link {
  text-decoration: none;
  color:black;
  font-size: 15px;
}

.home-link:hover {
  text-decoration: underline;
  color: blue;
}

.auth-nav-link, #auth-signin {
  text-decoration: none;

  color:grey;
  font-size: 15px;
  font-weight: bold;

  padding: 6px;
  margin-left: 6px;
  border-radius: 5px;
}

#auth-signin {
  border: 2px solid grey;
  padding: 10px;
}

.auth-nav-link:hover {
  background-color: rgb(223, 221, 221);
  color: rgb(121, 121, 121)
}



